*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.advertising-block {
    position: relative;
    margin-bottom: 30px;
    text-align: center;
    overflow: visible;
    width: 270px;
    height: 270px;
    align-self:center;
}
.advertising-block a:before {
    background: rgba(255, 255, 255, .2);
    bottom: 0;
    content: "";
    left: 50%;
    position: absolute;
    right: 51%;
    top: 0;
    opacity: 1;
}
.advertising-block:hover a:before {
    left: 0;
    right: 0;
    opacity: 0;
    transition: all 900ms linear;
}
.advertising-block a:after {
    background: rgba(255, 255, 255, .2);
    bottom: 50%;
    content: "";
    left: 0;
    position: absolute;
    right: 0;
    top: 50%;
    opacity: 1;
}
.advertising-block:hover a:after {
    top: 0;
    bottom: 0;
    opacity: 0;
    transition: all 900ms linear;
}


/*****************
    - Skew Section -
    *********************/
    ..colour-block {
  background:#823A9C;
  width:60%;
  padding:7% 20% 10% 20%;
  color:#fff;
}
.white-block {
  background:#fff;
  width:60%;
  padding:7% 20% 10% 20%;
  color:#823A9C;
}
h1 {
  text-align:center;
  font-size:80px;
  font-family:'wire one', serif;
  font-weight:normal;
}
p {
  font-size:20px;
  font-family:'Raleway', serif;
}


/*------------------*/
/*  SKEW CLOCKWISE  */
/*------------------*/
.skew-cc{
  width:100%;
  height:100px;
  position:absolute;
  left:0px;
  background: linear-gradient(to right bottom, #823A9C 49%, #fff 50%),    linear-gradient(-50deg, #ffffff 16px, #000 0);
}


/*-------------------------*/
/* SKEW COUNTER CLOCKWISE  */
/*-------------------------*/
.skew-section{
    width:1140px;
    margin:0 auto;
    position: relative;
}
.skew-c{
    width:100%;
    height:100px;
    position:absolute;
    left:0px;
    background: linear-gradient(to left bottom, #fff 49%, #823A9C 50%);
}
.colour-block {
    background:#823A9C;
    width:100%;
    padding:7% 20% 10% 20%;
    color:#fff;
}
.white-block {
    background:#fff;
    width:100%;
    padding:7% 20% 10% 20%;
    color:#823A9C;
}
h1 {
    text-align:center;
    font-size:80px;
    font-family:'wire one', serif;
    font-weight:normal;
}
p {
    font-size:20px;
    font-family:'Raleway', serif;
}
      
      
/*------------------*/
/*  SKEW CLOCKWISE  */
/*------------------*/
.skew-cc{
    width:100%;
    height:100px;
    position:absolute;
    left:0px;
    background: linear-gradient(to right bottom, #823A9C 49%, #fff 50%),    linear-gradient(-50deg, #ffffff 16px, #000 0);
}
      
      
/*-------------------------*/
/* SKEW COUNTER CLOCKWISE  */
/*-------------------------*/
.skew-c{
    width:100%;
    height:100px;
    position:absolute;
    left:0px;
    background: linear-gradient(to left bottom, #fff 49%, #823A9C 50%);
}